body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4918 {
  position:absolute;
  left:102px;
  top:214px;
  width:968px;
  height:780px;
  overflow:hidden;
}
#u4918_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:780px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4918_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:780px;
}
#u4919 {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:780px;
}
#u4920 {
  position:absolute;
  left:2px;
  top:382px;
  width:832px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:302px;
}
#u4921 {
  position:absolute;
  left:787px;
  top:31px;
  width:43px;
  height:302px;
}
#u4922 {
  position:absolute;
  left:2px;
  top:143px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u4924 {
  position:absolute;
  left:215px;
  top:103px;
  width:237px;
  height:43px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u4925 {
  position:absolute;
  left:2px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:17px;
}
#u4926 {
  position:absolute;
  left:306px;
  top:146px;
  width:139px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4927 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:78px;
}
#u4928 {
  position:absolute;
  left:102px;
  top:97px;
  width:94px;
  height:78px;
}
#u4929 {
  position:absolute;
  left:2px;
  top:31px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:134px;
}
#u4930 {
  position:absolute;
  left:716px;
  top:76px;
  width:166px;
  height:134px;
}
#u4931 {
  position:absolute;
  left:2px;
  top:59px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:116px;
}
#u4933 {
  position:absolute;
  left:505px;
  top:88px;
  width:145px;
  height:116px;
  font-size:14px;
}
#u4934 {
  position:absolute;
  left:2px;
  top:50px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4936 {
  position:absolute;
  left:483px;
  top:74px;
  width:82px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4937 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u4938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4939 {
  position:absolute;
  left:942px;
  top:130px;
  width:18px;
  height:20px;
}
#u4940 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u4941 {
  position:absolute;
  left:968px;
  top:132px;
  width:27px;
  height:16px;
}
#u4942 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u4943 {
  position:absolute;
  left:1002px;
  top:132px;
  width:18px;
  height:14px;
}
#u4944 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:140px;
}
#u4945 {
  position:absolute;
  left:932px;
  top:152px;
  width:85px;
  height:140px;
}
#u4946 {
  position:absolute;
  left:2px;
  top:62px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:78px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#507AFF;
}
#u4949 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:78px;
  color:#507AFF;
}
#u4950 {
  position:absolute;
  left:2px;
  top:31px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u4951 {
  position:absolute;
  left:226px;
  top:23px;
  width:69px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u4952 {
  position:absolute;
  left:2px;
  top:-1px;
  width:65px;
  word-wrap:break-word;
}
#u4953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u4953 {
  position:absolute;
  left:1008px;
  top:25px;
  width:27px;
  height:24px;
}
#u4954 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u4955 {
  position:absolute;
  left:1110px;
  top:25px;
  width:28px;
  height:24px;
}
#u4956 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4957 {
  position:absolute;
  left:1039px;
  top:27px;
  width:53px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4958 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u4959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
}
#u4959 {
  position:absolute;
  left:21px;
  top:9px;
  width:178px;
  height:50px;
}
#u4960 {
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4961 {
  position:absolute;
  left:1142px;
  top:25px;
  width:41px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4962 {
  position:absolute;
  left:2px;
  top:1px;
  width:37px;
  word-wrap:break-word;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4964 {
  position:absolute;
  left:316px;
  top:17px;
  width:555px;
  height:35px;
}
#u4964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4965 {
  position:absolute;
  left:838px;
  top:22px;
  width:25px;
  height:25px;
}
#u4966 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
